<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Looping and List Comprehension

_Authors: Riley Dallas (ATX)_

---

## Introduction: `for` and `while` loops
---
The `for` statement is used to **iterate** over the elements of a sequence. It's 
used when you have a piece of code which you want to repeat n number of times. 
You can use any enumerable object (such as strings, arrays, lists, tuples, dict and so on) 
in a `for` loop.

The `while` loop will run a block of code as long as a condition is met. 
A `while` loop consists of a block of code and a boolean condition. The condition 
is evaluated, and if the condition is `True`, the code within the
block is executed. This repeats ad infinitum until the condition becomes `False`. 

[for and while loops](http://www.pythonforbeginners.com/control-flow-2/python-for-and-while-loops)
[for and while loops](http://www.cyberciti.biz/faq/python-for-loop-examples-statements/)

## `while` Loops
---
```python
truth_test = True
while truth_test:
    print('hello')
```
This is an example of a `while` loop. `while` loops continue to run until the expression after `while` evaluates to `False`. In the example above, the loop will continue to run ad infinitum because we never change `truth_test` be `False` in our block.

In [ ]:
truth_test = True
while truth_test:
    print('hello')

## Practice
---
In the cell below, let's do the following:
1. Create a `counter` variable and set it to 0
2. Create a `while` loop that runs until `counter` is equal to 10. For each iteration:
  1. Print the value of `counter`
  2. Increment `counter`

In [2]:
counter = 0
while counter <10:
    print(counter)
    counter += 1

0
1
2
3
4
5
6
7
8
9

Remember, a while loop runs until the expression is `False`. The problem is, sometimes they don't stop. To avoid this, here are some rules to follow:

1. Make sure that you use `while` loops sparingly. Usually a `for` loop is better.
2. Review your `while` statements and make sure that the boolean test will become `False` at some point.
3. When in doubt, print out your test variable at the top and bottom of the `while` loop.

## `for` Loops
---
```python
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count) 
    print('') # Creates a line break after each iteration
```

This is a **for** loop. It has the following parts:
1. The word `for`
2. A variable that you create (`counter`), which be be used for each item in the sequence
3. The word `in`
4. The sequence to iterate over

Copy and paste the loop above to see what it does.

In [3]:
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count) 
    print('')

1
Yes

2
YesYes

3
YesYesYes

In [6]:
for count in (1, 2, 3, 15, 16, 20): 
    #print(count) 
    print('Yes')# * count) 
    print('')

Yes

Yes

Yes

Yes

Yes

Yes

## Repeat `for` loops
---

Let's try a simple repeat **for** loop. A repeat loop is for when you just want to repeat the exact same 
thing a specific number of times. In that case only the length of the sequence, 
not the individual elements are important. For this, we can use use the `range` function to create our sequence. 

In the block below, use `range` to create a for loop that prints **Hello** 100 times.

In [8]:
for _ in range(100):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## Looping over strings
---

We've mostly played it safe with list sequences.  Let's try looping through the letters in a word:

```python
word = "computer"
```

How do we do this?

In [11]:
word = "computer"
for letter in word:
    print(letter.upper())

C
O
M
P
U
T
E
R

## Looping over dictionaries
---

You can also loop through the key/value pairs in a dictionary. 

To see this in action, create a dictionary called `user` with the keys `'first_name'` and `'last_name'`

In [12]:
user = {
    'first_name' : 'Divya',
    'last_name' : 'V'
}

In [13]:
user.values()

dict_values(['Divya', 'V'])

In [14]:
user.items()

dict_items([('first_name', 'Divya'), ('last_name', 'V')])

Dictionaries have a method called `items()` specifically for looping. We'll use that in conjunction with a for loop to iterate over the key/value pairs in our `user` dictionary.

In [15]:
for first_entry , second_entry in user.items():
    print(first_entry)
    print(second_entry)
    print('')

first_name
Divya

last_name
V

In [16]:
names = ['Conor', 'Aoife', 'Liadan', 'Aine']

In [17]:
enumerate(names)

In [18]:
for index, name in enumerate(names):
    print(index)
    print(name)
    print('')

0
Conor

1
Aoife

2
Liadan

3
Aine

## Mapping
---
Mapping is when you perform an item-wise transformation to a given sequence. In python, we'll use list comprehension to do this.

To illustrate mapping, let's transform this list of binary strings:

```python
sample_column = ['Yes', 'Yes', 'Yes', 'No']
```

Into binary values:
- 1 if the string is `'Yes'`
- 0 if the string is `'No'`

In [19]:
# Copy/paste sample_column
sample_column = ['Yes', 'Yes', 'Yes', 'No']

In machine learning, we'll need to convert strings into numbers. Let's create a function that accepts **a single string**. Return 1 if the string is `'Yes'` and 0 if the string is `'No'`.

In [21]:
def yes_or_no(sample_string):
    if sample_string.lower() == 'yes':
        return 1
    else:
        return 0
yes_or_no('no')

0

Now let's use list comprehension along with our function to convert our list of strings into 1s and 0s.

In [28]:
[yes_or_no(s) for s in sample_column]

['ges', 'ges', 'ges', 'No']

In [32]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# create a function that accepts a single integer, and returns the string 'odd' or 'even', depending on the integer
def odd_or_even(n):
    if n % 2 ==0:
        return 'Even'
    return 'Odd'

In [37]:
k = list(range(1,101))
# use list comprehension to convert your array of integers to an array of odd/even strings
listed_odd_even = [odd_or_even(n) for n in k]

In [38]:
listed_odd_even

['Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [33]:
# create an array of integers: 1-100
numbers = list(range(1,101))

In [39]:
{n:odd_or_even(n) for n in numbers}

{1: 'Odd',
 2: 'Even',
 3: 'Odd',
 4: 'Even',
 5: 'Odd',
 6: 'Even',
 7: 'Odd',
 8: 'Even',
 9: 'Odd',
 10: 'Even',
 11: 'Odd',
 12: 'Even',
 13: 'Odd',
 14: 'Even',
 15: 'Odd',
 16: 'Even',
 17: 'Odd',
 18: 'Even',
 19: 'Odd',
 20: 'Even',
 21: 'Odd',
 22: 'Even',
 23: 'Odd',
 24: 'Even',
 25: 'Odd',
 26: 'Even',
 27: 'Odd',
 28: 'Even',
 29: 'Odd',
 30: 'Even',
 31: 'Odd',
 32: 'Even',
 33: 'Odd',
 34: 'Even',
 35: 'Odd',
 36: 'Even',
 37: 'Odd',
 38: 'Even',
 39: 'Odd',
 40: 'Even',
 41: 'Odd',
 42: 'Even',
 43: 'Odd',
 44: 'Even',
 45: 'Odd',
 46: 'Even',
 47: 'Odd',
 48: 'Even',
 49: 'Odd',
 50: 'Even',
 51: 'Odd',
 52: 'Even',
 53: 'Odd',
 54: 'Even',
 55: 'Odd',
 56: 'Even',
 57: 'Odd',
 58: 'Even',
 59: 'Odd',
 60: 'Even',
 61: 'Odd',
 62: 'Even',
 63: 'Odd',
 64: 'Even',
 65: 'Odd',
 66: 'Even',
 67: 'Odd',
 68: 'Even',
 69: 'Odd',
 70: 'Even',
 71: 'Odd',
 72: 'Even',
 73: 'Odd',
 74: 'Even',
 75: 'Odd',
 76: 'Even',
 77: 'Odd',
 78: 'Even',
 79: 'Odd',
 80: 'Even',
 81: 'Odd',
 82: 'Even',
 83: 'Odd',
 84: 'Even',
 85: 'Odd',
 86: 'Even',
 87: 'Odd',
 88: 'Even',
 89: 'Odd',
 90: 'Even',
 91: 'Odd',
 92: 'Even',
 93: 'Odd',
 94: 'Even',
 95: 'Odd',
 96: 'Even',
 97: 'Odd',
 98: 'Even',
 99: 'Odd',
 100: 'Even'}

## Mapping practice: square the numbers
---

If your item-wise transformation is simple, you can do list comprehension without a function. In the cell below:

1. Create a list of integers, 1 through 10
2. Use list comprehension to square each number in step 1

In [44]:
first_ten = [1,2,3,4,5,6,7,8,9,10]

squares =[]
for num in first_ten:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
# create an array of integers: 1-10
arr = list(range(1,11))

In [46]:
# map through the array, squaring each number in the original array. Output should look like below.
[a ** 2 for a in arr]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Mapping practice: lowercase names
---

Given the following list:
```python
names = ['Xlegic', 'John', 'Jasmine', 'Eva']
```

Use list comprehension to lowercase each name.

In [47]:
names = ['Xlegic', 'John', 'Jasmine', 'Eva']
[name.lower() for name in names]

['xlegic', 'john', 'jasmine', 'eva']

## Filtering
---

Filtering is when you return a subset of a given list that meets a certain condition. Like mapping, we can use list comprehension to filter. 

Given the following list of people:

```python
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'}
]
```

Use list comprehension to return only those individuals whose role is `'student'`.

In [48]:
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'}
]

In [49]:
classroom

[{'name': 'Teacher McTeacherson', 'role': 'teacher'},
 {'name': 'Teacher McTeacherson', 'role': 'teacher'},
 {'name': 'Teacher McTeacherson', 'role': 'teacher'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'}]

In [50]:
p = {'name': 'Teacher McTeacherson', 'role': 'teacher'}

In [52]:
p['role'] == 'student'

False

In [53]:
[p for p in classroom if p['role'] == 'student']

[{'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'}]

Now let's use list comprehension to filter our list to be teachers.

In [55]:
[p['name'] for p in classroom if p['role'] == 'teacher']

['Teacher McTeacherson', 'Teacher McTeacherson', 'Teacher McTeacherson']

In [57]:
filterd_list =[]

for p in classroom:
    if p['role'] == 'teacher':
        filterd_list.append(p['name'])
filterd_list

['Teacher McTeacherson', 'Teacher McTeacherson', 'Teacher McTeacherson']

## List Comprehension: Dictionaries
---

Despite the name, list comprehension is not exclusive to lists. We can also map over dictionaries, but with a subtle difference: we'll wrap our list comprehension in `{}` instead of `[]` to retain the dictionary type.

Let's say we have a dictionary of users with their corresponding emails:

```python
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': '90SRULE@AOL.COM'
}
```

We might want to lowercase all the email addresses before saving them to a database. In the block below, map through `users` and return the same dictionary, but with all the emails lowercased.

In [58]:
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': '90SRULE@AOL.COM'
}

In [59]:
{a:b.lower() for a, b in users.items()}

{'user1': 'foo@bar.com', 'user2': 'john@doe.com', 'user3': '90srule@aol.com'}

# Filtering Dictionaries
---

If we can map dictionaries, we can also filter them. Using our `users` dictionary from above, let's filter only users who have an AOL account.

In [60]:
{k:v for k,v in users.items() if 'AOL' in v}

{'user3': '90SRULE@AOL.COM'}

In [65]:
users['user1'].split('@')

['FOO', 'BAR.COM']

In [66]:
{k:v for k,v in users.items() if v.split('@')[1] == 'AOL.COM'}

{'user3': '90SRULE@AOL.COM'}